* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: 'Breaking Bad';
}

@font-face {
	font-family: 'Breaking Bad';
	src: url('fuentes/breaking_bad.ttf'),
}

body {
	font-family: sans-serif;
	background-image: url('img/fondo.jpg');
    width: 100vw;
    height: 100vh;
	background-size:cover;
	background-repeat: no-repeat;
}

header {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 20px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.intro-frase {
	text-align: center;
    padding: 30px;
    font-size: 30px;
    color: white;
}

.intro-poster {
	width: 700px;
	height: 300px;
	border: 10px outset brown;
	border-radius: 22px;
	cursor: pointer;
}
